maxximum.by {
    @frontend_api {
        path /api/login /api/logout
    }

    handle @frontend_api {
        reverse_proxy frontend:3001
    }

    handle /api/* {
        reverse_proxy host.docker.internal:3000
    }

    handle {
        reverse_proxy frontend:3001
    }
}
